<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">A Little Lagniappe</h1>
    <p class="lead blog-description">An omnifarious collection of recipes for developing.</p>
    <span>
      <%= link_to 'Write A New Blog', new_blog_path if logged_in?(:site_admin) %>
    </span>
    <span>
      <%= link_to 'Topics', topics_path %>
    </span>

  </div>
</div>
