<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">My Portfolio</h1>
      <p class="lead text-muted">In this portfolio I've provided a multifarious collection of applications that I've enjoyed developing. Each should contain a sampling of features that I enjoy creating. Also, please feel free to visit my <%= link_to 'github', "https://github.com/shownola", :target => "_blank" %> repositories. There are deployed sites that are not shown here.</p>
      <p>
        <%= link_to 'More About Me', about_path,  class: 'btn btn-primary my-2' %>
        <%= link_to 'Blog', blogs_path, class: 'btn btn-secondary my-2' %>
        <%# <a href="#" class="btn btn-secondary my-2">Secondary action</a> %>
      </p>
    </div>
  </section>

</main>
