<div class="collapse" id="Education">
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'tulane.png', width: '100%' %>
      </div>
      <div class="col-md-9">
        Tulane University, New Orleans, Louisiana
      </div>
    </div>
  </div>

  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'hinds.png', width: '100%' %>
      </div>
    <div class="col-md-9">
      Hinds Jr. College
    </div>
  </div>
</div>
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'clinton.jpg', width: '100%' %>
      </div>
    <div class="col-md-9">
      Clinton High School
    </div>
  </div>
</div>
</div>
