<div class="collapse" id="jobHistory">
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'famlend.png', width: '100%', class: 'job-img' %>
      </div>
      <div class="col-md-9">
        <strong>Sr. Loan Officer</strong> First American Commercial Lending
        Phoenix, Arizona
      </div>
    </div>

  </div>
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'fnbLayton.png', width: '100%' %>
      </div>
      <div class="col-md-9">
        <strong>Sr. Loan Officer</strong> First National Bank / Pacific Coast Mortgage
      </div>
    </div>
  </div>

  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'Pathfinder.jpg', width: '100%' %>
      </div>
      <div class="col-md-9">
        <strong>Sr. Loan Officer</strong> Pathfinder Mortgage Corporation
      </div>
    </div>
  </div>

  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'fnbtrustmark.jpg', width: '100%', class: 'job-img' %>
      </div>
      <div class="col-md-9">
        <strong>Operations Management</strong> First National Bank
      </div>
    </div>
  </div>
</div>
