<div class="container">
  <h1>500 INTERNAL SERVER ERROR</h1>
  <p>A 500 status code occurs when something has gone wrong on the website's server but the server could not be more specific. Therefore, the problem is not with your PC or internet connection.</p>
</div>
