@import "bootstrap";


/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  background-color: #333;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Ubuntu', sans-serif;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}

.cover-heading {
  font-family: 'Great Vibes', cursive;
}


/*
 * Footer
 */

.mastfoot {
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 65rem;
  }
}

/* Custom Styles */

.card {
  border-radius: 5px;
}

.card-block {
  color: black;
  text-align: left;
  padding: 2rem;
  border-radius: 5px;
}
.auth-links a {
  color: black;
}




// #C17347;
// #567B93;
// #3C4E59;
// #272727;


// .cover {
//   // background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('laptop1.jpg') top left no-repeat;
//   background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url('laptop1.jpg');
//   // background: rgba(32,32,32,0.7);
//   // background: linear-gradient(90deg, rgba(227,227,229,1) 0%, rgba(164,166,172,0.9444152661064426) 43%, rgba(153,153,153,0.7231267507002801) 98%), url('laptop1.jpg') top left no-repeat;
//   // box-shadow: inset 0 0 100px #000;
//   // box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
//   //                   0 0  0 2px rgb(255,255,255),
//   //                   0.3em 0.3em 1em rgba(0,0,0,0.3);
//   background-size: cover;
//   background-position: center center;
//   // opacity: 0.9;
//   // width: 75%;
//   // height: 100%;
//   margin-top: -85px;
//
// }

// .cover img {
//   min-height: 100vh;
//   // background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url('laptop3.jpg')
//   background: rgb(193,115,71);
// background: linear-gradient(0deg, rgba(193,115,71,1) 50%, rgba(60,78,89,1) 100%);
//   // background: linear-gradient(0deg, rgba(193,115,71,1) 50%, rgba(60,78,89,1) 100%), url('laptop3.jpg');
// }

// .cover {
//   justify-content: center;
//    // background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url('laptop3.jpg');
//   background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.7)), url('laptop3.jpg') top left no-repeat;
//   // background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url('laptop3.jpg');
//   // background: rgba(32,32,32,0.7);
//   // background: linear-gradient(90deg, rgba(227,227,229,1) 0%, rgba(164,166,172,0.9444152661064426) 43%, rgba(153,153,153,0.7231267507002801) 98%), url('laptop3.jpg') top left no-repeat;
//   // box-shadow: inset 0 0 100px #000;
//   // box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
//   //                   0 0  0 2px rgb(255,255,255),
//   //                   0.3em 0.3em 1em rgba(0,0,0,0.3);
//   background-size: cover;
//   background-position: center center;
//   // opacity: 0.9;
//   // width: 75%;
//   // height: 100%;
//   margin-top: -85px;
//   height: 100%;
//
// }

 // background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url(../img/hero.jpeg);
